body {
    padding-bottom: 40px;
    color: #364347;
    height: 100%;
    background: -webkit-linear-gradient(#9ceef5, #e0f7f9);
    background: -o-linear-gradient(#9ceef5, #e0f7f9);
    background: -moz-linear-gradient(#9ceef5, #e0f7f9);
    background: linear-gradient(#9ceef5, #e0f7f9);
    background-attachment: fixed;
    overflow-y: scroll;
}

#current-notes ul li {
    background-color: #e0f7f9;
}

#archived-notes ul li {
    background-color: #c6e7ef;
}

ul li span.created {
    padding-left: 10px;
    font-size: 12px;
    font-weight: 300;
}

.container {
    min-width: 470px;
}
